.card {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}
.line-highlight:before {
  background-color: #ad79a8;
}
#posts {
  margin-top: 1em;
}
.p-rule--muted {
  border-top-style: dotted;
}
.p-rule--dotted {
  border-top: 1px dotted #cdcdcd;
  background-color: transparent;
}
